


.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;
}
header{
    border: 2px solid black;
    grid-column: 2 / 4;
}
.sidebar{
    border: 2px solid black;
    grid-column: 1 / 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
main{
    border: 2px solid black;
    grid-column: 2 / 4;

    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* footer{
    border: 2px solid black;
    grid-column: 1 / 4;
} */
